.error {
    color: red;
}
.empty {
    padding: 40px 0px;
    font-size: 14px;
    text-align: center;
}

.empty-message {
    padding: 40px 0px;
    font-size: 14px;
    text-align: center;
    border-left: 1px solid #f5f5f5;
    border-right: 1px solid #f5f5f5;
    border-bottom: 1px solid #e5e5e5;
}

.message-item a {
    color: #333;
    font-size: 15px;
}

input.disabled {
    color: #fff !important;
}

.form-modal-body {
    padding: 15px 0 0 0;
}

.form-model-footer {
    margin-top: 15px;
}

.page-info {
    color: #000 !important;
    background: #fff !important;
    cursor: default;
}

.page-info:hover {
    background: #fff !important;
}

input[readonly].readonly {
    background: #fff !important;
    cursor: pointer !important;
}

.width-10 {
    width: 10%;
}

.dept-tag {
    display: block;
    float: left;
    margin-left: 10px;
    margin-top: 7px;
}

.dept > span {
    padding: 5px 8px;
}

/*.line-bg {*/
    /*background: #dfe0e2 url(../../ace/dist/css/images/pattern.jpg) repeat !important;*/
/*}*/

.markdown-content {
    border: 1px dashed #BBB;
    padding: 15px;
}

.markdown-content img {
    max-width: 100% !important;
}

.markdown-content p,.markdown-content li {
    font-family: PingFang SC,Hiragino Sans GB,Helvetica Neue,Microsoft Yahei,WenQuanYi Micro Hei,sans-serif;
    color: #2C3E50;
    font-size: 16px;
    line-height: 27px;
}

.markdown-content input {
    margin-right: 5px;
}

.markdown-content blockquote {
    background: #f9f9f9;
    padding: 10px 15px;
    border-left-width: 8px;
    border-left: 3px solid #6ce26c !important;
}

.markdown-content .toolbar {
    display: none;
}

.markdown-content code {
    margin: 0 2px;
    padding: 0 5px;
    white-space: nowrap;
    border: 1px solid #ddd;
    background-color: #f8f8f8;
    border-radius: 3px;
    color: #d14;
    font-weight: normal;
}